<div class="container">
  <div class="row">

    <!-- Column for displaying user's posts -->
    <div class="col-md-7">
      <h1 id="post-h1">Your Posts</h1>

      <!-- Handlebars loop to iterate over each userPost and display a card for each -->
      {{#each userPosts as |userPost|}}
      <div class="card mx-auto mt-3" id="dash-post-card">
        <div class="card-body">

          <!-- Post title with a link to view the full post -->
          <h2><a href="/view-post/{{userPost.id}}" class="link-light" id="post-title-{{userPost.id}}">{{userPost.title}}</a></h2>

          <!-- Post content -->
          <p id="post-content-{{userPost.id}}">{{userPost.content}}</p>

          <!-- Subtitle containing post date and buttons for editing and deleting -->
          <p class="card-subtitle mb-2 text-body-secondary">
            <!-- Formatted post creation date -->
            {{format_date userPost.date_created}}
            <!-- Button to delete the post -->
            <button class="btn btn-danger float-end ms-2" onclick="deletePost({{userPost.id}})">Delete</button>
            <!-- Button to edit the post -->
            <button class="btn btn-dark float-end ms-2" id="edit-post" onclick="editPost({{userPost.id}})">Edit</button>
          </p>
          
          <!-- Button to save changes after editing (initially hidden) -->
          <button class="btn btn-success save-changes" data-post-id="{{userPost.id}}" style="display: none;" onclick="saveChanges({{userPost.id}})">Save Changes</button>
        </div>
      </div>
      {{/each}}
    </div>

    <!-- Column for adding a new blog post -->
    <div class="col-md-5">
      <!-- Form for creating a new post -->
      <form>
        <!-- Heading for the new post section -->
        <div class="mb-3">
          <h2 id="post-h2">Add Blog Post</h2>
          
          <!-- Input field for the post title -->
          <label for="post-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title">

          <!-- Textarea for typing the new post content -->
          <label for="new-post" class="form-label">Type a new post!</label>
          <textarea type="text" class="form-control" rows="5" id="content"></textarea>
        </div>
        
        <!-- Button to submit the form and create a new post -->
        <button type="submit" class="btn btn-dark" id="create-post">Create Post</button>
      </form>
    </div>
  </div>
</div>
