<!-- Post list -->
{{#each posts as |post| }}
  <div class="card mx-auto mt-3" id="home-card" style="max-width: 75rem;">
    <div class="card-body">
      <div class="row">
        <a href="/view-post/{{post.id}}" class="link-light">
          <h2>{{post.post_title}}</h2>
        </a>
        <p class="w-100">{{post.post_body}}</p>
        <p class="card-subtitle mb-2 text-body-secondary">Posted by: {{post.user.name}}</p>
        <p class="card-subtitle mb-2 text-body-secondary">{{format_date post.date_created}}</p>
      </div>
    </div>
  </div>
{{/each}}
